@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/norse");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************* COMMON STYLES *************/

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

p {
  font-size: 1.3em;
}

.button {
  border: none;
  background-color: var(--white-color);
  text-transform: uppercase;
  font-size: 1em;
}

.button a {
  color: var(--dark-blue-color);
}

html {
  height: 100%;

  scroll-behavior: smooth;

  --dark-blue-color: #0a121e;
  --blue-color: #134e4d;
  --light-blue-color: #43ab94;
  --dark-blue-color-footer: #111924;
  --light-blue-color-footer: #181f2a;
  --white-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 40px 60px 40px 60px;
}

.secondary-header {
  background-color: var(--dark-blue-color);
}

.logo {
  flex: 1;
}

.minilogo {
  display: flex;

  font-family: "Norse", sans-serif;
  color: var(--white-color);
  text-shadow: 7px 7px 5px #000000bf;
}

.minilogo .text {
  margin-top: 28px;
}

.minilogo .rune {
  font-size: 2em;
}

.nav {
  flex: 1;
}

.regular-nav {
  display: flex;
  justify-content: space-between;
}

.regular-nav li {
  text-transform: uppercase;
  font-size: 1.5em;
}

.regular-nav li a {
  color: var(--white-color);
  text-shadow: 7px 7px 5px #000000bf;
}

.collapsed-nav {
  width: 50px;
  height: 50px;

  background-image: url(../assets/collapsed.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  filter: brightness(0) invert(1);

  cursor: pointer;
  display: none;

  position: relative;
}

.collapsed-content {
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 60px;
  right: 1px;

  display: none;

  background-color: var(--white-color);
}

.collapsed-content li {
  text-transform: uppercase;
  font-size: 1.5rem;

  text-align: center;

  padding: 50px;
}

.collapsed-content li a {
  color: var(--dark-blue-color);
}

.banner-section {
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: var(--white-color);
  text-shadow: 7px 7px 5px #000000bf;
  text-transform: uppercase;
}

.section-header {
  margin-bottom: 60px;
  text-transform: uppercase;
}

.line-decoration {
  width: 100%;
  height: 1px;

  background-color: var(--dark-blue-color);
}

.parallax {
  width: 100%;
  height: 500px;

  background-color: #134e4d;
}

button {
  width: 178px;
  height: 41px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn-bg-dark {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}

.btn-bg-light {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/************************************ HERO ************************************/

.hero {
  height: 1069px;

  background-image: url(../assets/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 109px;

  color: var(--white-color);
  text-shadow: 7px 7px 5px #000000bf;
}

.legend span {
  font-size: 3.25em;
}

.legend h1 {
  margin-top: 48px;
}

/************************************ HOME ************************************/

.home {
  padding: 60px 180px 60px 180px;
}

.home-initial-paragraph {
  margin-bottom: 60px;
}

.home-initial-photo {
  height: 633.59px;

  background-image: url(../assets/home-initial-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/************************************ CITIES ************************************/

.cities {
  padding: 60px;
}

.cities .content-section {
  display: flex;
}

.city {
  flex: 1;
}

.city-header {
  margin-bottom: 30px;

  color: var(--light-blue-color);
}

.city-photo {
  height: 479.54px;

  margin-top: 30px;

  background-image: url(../assets/cities-oslo-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cities-map {
  width: 681.02px;
  height: 821.95px;

  background-image: url(../assets/map.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  flex: 1;
}

/************************************ HISTORY ************************************/

.history {
  padding: 60px 0 60px 0;
}

.history .section-header {
  padding: 0 60px 0 60px;
}

.history .content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.history .left-arrow-icon,
.history .right-arrow-icon {
  width: 60px;
  height: 60px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.history .left-arrow-icon {
  background-image: url(../assets/left-arrow-icon.png);
}

.history .right-arrow-icon {
  background-image: url(../assets/right-icon-arrow.png);
}

.history-slider {
  padding: 0 30px 0 30px;
  display: flex;
}

.history-item {
  height: 847px;
  width: min-content;

  display: flex;
  flex-direction: column;

  border: 0.05px solid var(--dark-blue-color);
}

.history-photo {
  width: 415.5px;
  height: 278.63px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.history-photo1 {
  background-image: url(../assets/history-photo1.png);
}

.history-photo2 {
  background-image: url(../assets/history-photo2.png);
}

.history-photo3 {
  background-image: url(../assets/history-photo3.png);
}

.history-photo4 {
  background-image: url(../assets/history-photo4.png);
}

.history-item p {
  padding: 15px;
}

.history-era {
  margin-top: auto;
  padding: 15px;

  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.history-era span {
  text-transform: lowercase;
}

.history-era-bg-dark {
  background-color: var(--dark-blue-color);
}

.history-era-bg-light {
  background-color: var(--blue-color);
}

/************************************ GASTRONOMY ************************************/

.gastronomy {
  padding: 60px;
}

.gastronomy-item1,
.gastronomy-item2 {
  display: flex;
  justify-content: space-between;
}

.gastronomy-item1 {
  margin-bottom: 30px;
}

.gastronomy-dish {
  border: 0.05px solid var(--dark-blue-color);
}

.gastronomy-dish-photo {
  width: 580.04px;
  height: 387px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.gastronomy-dish-photo1 {
  background-image: url(../assets/gastronomy-photo1.png);
}

.gastronomy-dish-photo2 {
  background-image: url(../assets/gastronomy-photo2.png);
}

.gastronomy-dish-photo3 {
  background-image: url(../assets/gastronomy-photo3.png);
}

.gastronomy-dish-photo4 {
  background-image: url(../assets/gastronomy-photo4.png);
}

.gastronomy-dish-photo5 {
  background-image: url(../assets/gastronomy-photo5.png);
}

.gastronomy-dish-photo6 {
  background-image: url(../assets/gastronomy-photo6.png);
}

.gastronomy-dish-info {
  padding: 15px;
}

.gastronomy-dish h2,
.gastronomy-dish p {
  margin-bottom: 15px;
}

.gastronomy-dish p {
  color: var(--blue-color);
}

.gastronomy-button {
  display: flex;
  justify-content: end;

  margin-bottom: 30px;
}

/************************************ FAUNA ************************************/

.fauna {
  padding: 60px;
}

.fauna-item1,
.fauna-item2 {
  display: flex;
  justify-content: space-between;
}

.fauna-item1 {
  margin-bottom: 30px;
}

.fauna-animal {
  border: 0.05px solid var(--dark-blue-color);
}

.fauna-animal-photo {
  width: 435.58px;
  height: 332px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fauna-animal-photo1 {
  background-image: url(../assets/fauna-photo1.png);
}

.fauna-animal-photo2 {
  background-image: url(../assets/fauna-photo2.png);
}

.fauna-animal-photo3 {
  background-image: url(../assets/fauna-photo3.png);
}

.fauna-animal-photo4 {
  background-image: url(../assets/fauna-photo4.png);
}

.fauna-animal-photo5 {
  background-image: url(../assets/fauna-photo5.png);
}

.fauna-animal-photo6 {
  background-image: url(../assets/fauna-photo6.png);
}

.fauna-animal-photo7 {
  background-image: url(../assets/fauna-photo7.png);
}

.fauna-animal-photo8 {
  background-image: url(../assets/fauna-photo8.png);
}

.fauna-animal-info {
  display: flex;

  padding: 15px;
}

.fauna-animal-decoration {
  width: 5px;
  height: 70px;

  margin-right: 15px;

  background-color: var(--light-blue-color);
}

.fauna-animal-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fauna-animal-name p {
  color: var(--blue-color);
}

/************************************ HOW TO ************************************/

.howto .banner-section {
  background-image: url(../assets/howto-banner.png);
}

.howto .content-section {
  padding: 0px 60px 0 60px;
}

.howto-initial-paragraph {
  padding: 60px 120px 0 120px;
}

/************************************ GET TO ************************************/

.getto {
  padding: 60px;
}

.getto .content-section {
  padding: 0px 120px 0 120px;
}

.getto-conveyance {
  border: 0.05px solid var(--dark-blue-color);
}

.getto-options {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  background-color: var(--dark-blue-color);
  color: var(--white-color);
}

.getto-options .active {
  background-color: var(--blue-color);
}

.getto-option {
  padding: 30px;
}

.getto-info {
  padding: 50px;
}

.getto-photo-container {
  display: flex;
  justify-content: center;
}

.getto-photo {
  width: 1219px;
  height: 609.5px;

  margin-top: 50px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.getto-photo1 {
  background-image: url(../assets/transport-photo1.png);
}

/************************************ TICKETS ************************************/

.tickets {
  padding: 60px;
}

.tickets-interface {
  padding: 30px;

  background-color: var(--dark-blue-color);
}

.tickets-item {
  display: flex;
}

.tickets-item1,
.tickets-item2,
.tickets-item3 {
  margin-bottom: 30px;
}

.tickets-item2,
.tickets-item3 {
  justify-content: space-between;
}

.tickets-item1,
.tickets-item4 {
  margin-left: 15px;
}

.magnifying-glass-icon {
  width: 42.15px;
  height: 42.74px;

  margin-right: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../assets/tickets-magnifying-glass-icon.png);
}

.tickets-item1 h2 {
  color: var(--white-color);
}

.tickets-item input,
.tickets-item select {
  width: 31%;
  padding: 15px;

  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.tickets-item button {
  width: 170px;
  height: 59px;

  background-color: var(--blue-color);
  color: var(--white-color);

  text-transform: none;
}

/************************************ LODGING ************************************/

.lodging {
  padding: 60px;
}

.lodging .content-section {
  padding: 0px 120px 0 120px;
}

.lodging-item {
  display: flex;
  justify-content: space-between;
}

.lodging-item1 {
  margin-bottom: 120px;
}

.lodging-option {
  width: 720px;

  display: flex;

  padding: 30px;

  border: 0.05px solid var(--dark-blue-color);
}

.lodging-option1,
.lodging-option3 {
  margin-right: 120px;
}

.lodging-icon {
  flex: 1;

  margin-right: 30px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.lodging-icon1 {
  width: 244.8px;
  height: 220px;

  background-image: url(../assets/lodging-logo1.png);
}

.lodging-icon2 {
  width: 149.6px;
  height: 260.68px;

  background-image: url(../assets/lodging-logo2.png);
}

.lodging-icon3 {
  width: 243.21px;
  height: 243.24px;

  background-image: url(../assets/lodging-logo3.png);
}

.lodging-icon4 {
  width: 220.25px;
  height: 220.25px;

  background-image: url(../assets/lodging-logo4.png);
}

.lodging-info {
  flex: 2;

  margin-right: 42px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lodging-title {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.lodging-info p {
  color: var(--light-blue-color);
}

/************************************ RESTAURANTS ************************************/

.restaurants {
  padding: 60px 0 60px 0;
}

.restaurants .section-header {
  padding: 0 60px 0 60px;
}

.restaurants .content-section {
  padding: 0px 120px 0 120px;
}

.restaurants-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 60px 0 60px 0;
}

.restaurants-interface .left-arrow-icon,
.restaurants-interface .right-arrow-icon {
  width: 60px;
  height: 60px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.restaurants-interface .left-arrow-icon {
  background-image: url(../assets/left-arrow-icon.png);
}

.restaurants-interface .right-arrow-icon {
  background-image: url(../assets/right-icon-arrow.png);
}

.restaurants-slider {
  display: flex;

  padding: 0 30px 0 30px;
}

.restaurant {
  border: 0.05px solid var(--dark-blue-color);
}

.restaurant-photo {
  width: 547.5px;
  height: 388px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.restaurant-photo1 {
  background-image: url(../assets/restaurants-photo1.png);
}

.restaurant-photo2 {
  background-image: url(../assets/restaurants-photo2.png);
}

.restaurant-photo3 {
  background-image: url(../assets/restaurants-photo3.png);
}

.restaurant-info {
  padding: 15px;
}

.restaurant-info h2 {
  margin-bottom: 15px;
}

.restaurant-location p {
  color: var(--light-blue-color);
}

.restaurants-button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.restaurants-button button {
  margin-left: 30px;
}

/************************************ ROUTES ************************************/

.routes .banner-section {
  background-image: url(../assets/routes-banner.png);
}

.routes .content-section {
  padding: 0px 60px 0 60px;
}

.routes-initial-paragraph {
  padding: 60px 120px 0 120px;
}

.routes-initial-photo {
  width: 100%;
  height: 666px;

  background-image: url(../assets/routes-initial-paragraph.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin: 60px 0 60px 0;
}

.route {
  padding: 60px 120px 0 120px;
}

.route-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;
}

.route-header h2 {
  text-transform: uppercase;
}

.route-header h1 {
  margin: 30px 0 49px 0;
  padding-bottom: 12px;

  color: var(--blue-color);
  text-transform: uppercase;

  border-bottom: 2px solid var(--blue-color);
}

.route-header p {
  width: 800px;

  text-align: center;
}

.route-information {
  height: 84px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--blue-color);
  color: var(--white-color);
}

.route-information ul {
  display: flex;
  justify-content: space-between;

  padding: 0 25px 0 25px;
}

.cd-horizontal-timeline {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  content: "mobile";
  display: none;
}
.cd-horizontal-timeline.loaded {
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  margin: 0 auto;

  background-color: var(--dark-blue-color);
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}
.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  top: 49px;
  width: 100%;
  height: 2px;
  /* width will be set using JavaScript */
  background: var(--white-color);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.cd-horizontal-timeline .events ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding-left: 220px;
}

.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;

  padding-bottom: 15px;
  color: var(--white-color);

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  content: "";
  position: absolute;
  left: 31%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  background-color: var(--white-color);
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: var(--light-blue-color);
  border-color: var(--light-blue-color);
}
.cd-horizontal-timeline .events a.ui-link {
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: var(--light-blue-color);
  border-color: var(--light-blue-color);
}
.cd-horizontal-timeline .events a.older-event {
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: var(--light-blue-color);
}
.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 70%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Red_Arrow_Right.svg/2048px-Red_Arrow_Right.svg.png);
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: var(--light-blue-color);
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: var(--white-color);
}
.cd-horizontal-timeline .events-content {
  /* position: relative;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;*/
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  display: flex;
  justify-content: space-between;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > *:not(:last-child) {
  max-width: 840px;
}
.cd-horizontal-timeline .events-content li > *:not(:first-child) {
  margin: 0 2em 0 3em;
  line-height: 30px;
}

.cd-horizontal-timeline .events-content em::before {
  content: "- ";
}

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content p {
    width: 30%;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.route-photo {
  height: 700px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: var(--white-color);
  text-shadow: 7px 7px 5px #000000bf;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 60px;
  margin-bottom: 120px;
}

.route1 .route-photo {
  background-image: url(../assets/routes-varanger-photo1.jpg);
}

.route2 .route-photo {
  background-image: url(../assets/routes-rondane-photo1.jpg);
}

.route3 .route-photo {
  background-image: url(../assets/routes-atlanterhavsvegen-photo1.jpg);
}

.route-photo h1 {
  margin: 24px 0 30px 0;
}

.route-photo p {
  line-height: 30px;
}

/************************************ ACTIVITIES ************************************/

.activities {
  padding: 60px;
}

.activities .content-section {
  padding: 0 120px 0 120px;
}

.activity-header {
  margin-bottom: 60px;

  text-transform: uppercase;
}

.activity-header h2 {
  margin-bottom: 31px;

  color: var(--blue-color);
}

.activity-header-aternative {
  text-align: end;
}

.activity {
  margin-bottom: 90px;
}

.activity-info {
  display: flex;
  justify-content: space-between;
}

.activity-text {
  width: 48%;
}

.activity-photo {
  width: 750px;
  height: 500px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.activity-photo1 {
  background-image: url(../assets/activities-photo1.png);
}

.activity-photo2 {
  background-image: url(../assets/activities-photo2.png);
}

.activity-photo3 {
  background-image: url(../assets/activities-photo3.png);
}

.activity-button {
  text-align: center;
  margin-top: 60px;
}

/************************************ CONTACT ************************************/

.contact .banner-section {
  background-image: url(../assets/contact-banner.png);
}

.contact .content-section {
  display: flex;
  justify-content: space-between;

  padding: 60px 60px 60px 146px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  margin-top: 30px;
  padding: 30px 103px 30px 103px;

  border: 0.05px solid var(--dark-blue-color);
}

.social-media {
  display: flex;
  justify-content: center;

  margin-bottom: 42px;
}

.social-media-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.instagram-icon {
  width: 39.76px;
  height: 39.75px;

  background-image: url(../assets/instagram-icon.svg);
}

.facebook-icon {
  width: 37.99px;
  height: 37.99px;

  margin: 0 183px 0 183px;

  background-image: url(../assets/facebook-icon.svg);
}

.twitter-icon {
  width: 44.47px;
  height: 36.41px;

  background-image: url(../assets/twitter-icon.svg);
}

.contact-methods {
  display: flex;
  flex-direction: column;
}

.location,
.mail,
.phone {
  display: flex;
  align-items: center;
  align-content: center;
}

.mail {
  margin: 48px 0 48px 0;
}

.contact-methods-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-right: 39px;
}

.location-icon {
  width: 27px;
  height: 39px;

  background-image: url(../assets/location-icon.svg);
}

.mail-icon {
  width: 39.36px;
  height: 33.74px;

  background-image: url(../assets/mail-icon.svg);
}

.phone-icon {
  width: 33.74px;
  height: 33.73px;

  background-image: url(../assets/phone-icon.svg);
}

.contact-fields {
  width: 48%;

  display: flex;
  flex-direction: column;
}

.contact-fields input,
.contact-fields select {
  height: 59px;

  padding-left: 15px;
  margin-bottom: 30px;

  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.contact-fields select {
  height: 65px;
}

.contact-fields textarea {
  height: 206px;

  padding: 15px;
  margin-bottom: 30px;

  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.contact-fields button {
  width: 100%;
  height: 58px;
}

/************************************ OFFICES ************************************/

.offices {
  padding: 60px;
}

.offices-initial-paragraph {
  padding: 0 120px 0 120px;
}

.offices-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 60px 120px 0 120px;
}

.offices-map {
  width: 678.71px;
  height: 831.9px;

  background-image: url(../assets/map.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  flex: 1;
}

.office-info {
  width: max-content;

  padding: 60px;

  background-color: var(--blue-color);
  color: var(--white-color);

  position: relative;
  right: 190px;
  z-index: 9999;
}

.office-info h2,
.office-location,
.office-phone {
  margin-bottom: 15px;
}

.office-location,
.office-phone,
.office-mail {
  display: flex;
  align-items: center;
  align-content: center;

  margin-left: 30px;
}

.office-icons {
  margin-right: 18px;

  filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg);
}

.office-location .location-icon {
  width: 17.33px;
  height: 24.76px;
}

.office-phone .phone-icon {
  width: 27.13px;
  height: 27.12px;
}

.office-mail .mail-icon {
  width: 28px;
  height: 24px;
}

/************************************ PARTNERS ************************************/

.partners {
  padding: 60px 160px 60px 160px;

  display: flex;
  justify-content: space-between;

  background-color: var(--light-blue-color-footer);
}

.partner {
  width: 100px;
  height: 95px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.partner1 {
  background-image: url(../assets/partners-logo1.png);
}

.partner2 {
  background-image: url(../assets/partners-logo2.png);
}

.partner3 {
  background-image: url(../assets/partners-logo3.png);
}

.partner4 {
  background-image: url(../assets/partners-logo4.png);
}

/************************************ FOOTER ************************************/

.footer-sections {
  padding: 60px;

  display: flex;
  justify-content: space-between;

  background-color: var(--dark-blue-color-footer);
  color: var(--white-color);
}

.footer-section2,
.footer-section3 {
  display: flex;
  flex-direction: column;
}

.footer-section2 h2,
.footer-section2 ul li,
.footer-section3 h2,
.footer-section3 ul li {
  margin-bottom: 46px;
}

.footer-section2 ul li,
.footer-section3 ul li {
  font-size: 1.3em;
}

.footer-section4 {
  display: flex;
  flex-direction: column;
}

.footer-section4 input {
  padding-bottom: 10px;

  border: none;
  color: var(--white-color);
  background-color: var(--dark-blue-color-footer);
  border-bottom: 1px solid var(--white-color);

  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footer-section4 button {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  color: var(--white-color);
  background-color: var(--blue-color);
}

.footer-copy {
  padding: 30px 60px 30px 60px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: var(--dark-blue-color);
  color: var(--white-color);
}

/************************************ MEDIA QUERY - TABLET ************************************/

@media screen and (max-width: 1024px) {
  /************* COMMON STYLES *************/

  .nav {
    flex: 2;
  }

  /************************************ HOME ************************************/

  .home {
    padding: 60px;
  }

  /************************************ CITIES ************************************/

  .cities .content-section {
    flex-direction: column;
  }

  .city {
    flex: none;
  }

  .city-photo {
    margin-bottom: 50px;
  }

  .cities-map {
    flex: none;
  }

  /************************************ HISTORY ************************************/

  .history-item2,
  .history-item3,
  .history-item4 {
    display: none;
  }

  /************************************ GASTRONOMY ************************************/

  .gastronomy .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gastronomy-item1,
  .gastronomy-item2 {
    flex-direction: column;
  }

  .gastronomy-dish1,
  .gastronomy-dish2,
  .gastronomy-dish4,
  .gastronomy-dish5 {
    margin-bottom: 30px;
  }

  .gastronomy-dish {
    width: 586px;
  }

  .gastronomy-dish-photo {
    width: 100%;
  }

  /************************************ FAUNA ************************************/

  .fauna .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fauna-item1,
  .fauna-item2 {
    flex-direction: column;
  }

  .fauna-animal1,
  .fauna-animal2,
  .fauna-animal3,
  .fauna-animal5,
  .fauna-animal6,
  .fauna-animal7 {
    margin-bottom: 30px;
  }

  .fauna-animal {
    width: 586px;
  }

  .fauna-animal-photo {
    width: 100%;
  }

  /************************************ HOW TO ************************************/

  .howto-initial-paragraph {
    padding: 60px 0 0 0;
  }

  /************************************ GET TO ************************************/

  .getto .content-section {
    padding: 0;
  }

  .getto-photo {
    height: 304.75px;
  }

  /************************************ TICKETS ************************************/

  .tickets {
    padding: 0 60px 0 60px;
  }

  .tickets-item2,
  .tickets-item3,
  .tickets-item4 {
    flex-direction: column;
  }

  .tickets-item4 {
    margin: 0;
  }

  .tickets-item input {
    width: 94.9%;
    margin-bottom: 30px;
  }

  .tickets-item select,
  .tickets-item button {
    width: 100%;
  }

  /************************************ LODGING ************************************/

  .lodging .content-section {
    padding: 0px;
  }

  .lodging-item {
    flex-direction: column;

    margin: 0;
  }

  .lodging-option {
    margin-bottom: 30px;
  }

  /************************************ RESTAURANTS ************************************/

  .restaurants .content-section {
    padding: 0px 60px 0 60px;
  }

  .restaurant2,
  .restaurant3 {
    display: none;
  }

  /************************************ ROUTES ************************************/

  .routes-initial-paragraph {
    padding: 60px 0 0 0;
  }

  .route {
    padding: 60px 0 0 0;
  }

  .cd-horizontal-timeline .events ol {
    padding-left: 30px;
  }

  .cd-horizontal-timeline .events-content p {
    width: 100%;
  }

  /************************************ ACTIVITIES ************************************/

  .activities .content-section {
    padding: 0;
  }

  .activity-info {
    flex-direction: column;
  }

  .activity-text {
    width: 100%;
  }

  .activity-photo1,
  .activity-photo3 {
    margin-bottom: 60px;
  }

  .activity-photo2 {
    margin-top: 60px;
  }

  /************************************ CONTACT ************************************/

  .contact .content-section {
    flex-direction: column;

    padding: 60px;
  }

  .contact-info-box {
    margin-bottom: 60px;
  }

  .contact-fields {
    width: 100%;
  }

  .contact-fields input {
    width: 97.5%;
  }

  .contact-fields textarea {
    width: 96%;
  }

  .contact-fields select,
  .contact-fields button {
    width: 100%;
  }

  /************************************ OFFICES ************************************/

  .offices-initial-paragraph {
    padding: 0;
  }

  .offices-interface {
    flex-direction: column;
  }

  .offices-map {
    flex: none;

    margin-bottom: 60px;
  }

  .office-info {
    position: static;
  }

  /************************************ PARTNERS ************************************/

  .partners {
    padding: 60px 60px 60px 60px;
  }

  /************************************ FOOTER ************************************/

  .footer-sections {
    padding: 60px 30px 60px 30px;
  }

  .footer-section2,
  .footer-section3 {
    text-align: center;
  }
}

/************************************ MEDIA QUERY - PHONE ************************************/

@media screen and (max-width: 768px) {
  /************* COMMON STYLES *************/

  .section-header {
    margin-bottom: 30px;
  }

  .nav {
    flex: 0;
  }

  .regular-nav {
    display: none;
  }

  .collapsed-nav {
    display: block;
  }

  /************************************ HOME ************************************/

  .home {
    padding: 30px;
  }

  .home-initial-paragraph {
    margin-bottom: 30px;
  }

  .home-initial-photo {
    height: 316.795px;
  }

  /************************************ CITIES ************************************/

  .cities {
    padding: 30px;
  }

  .city-photo {
    height: 239.77px;
  }

  .cities-map {
    width: 100%;
    height: 410.97px;
  }

  /************************************ HISTORY ************************************/

  .history {
    padding: 30px 0 30px 0;
  }

  .history .section-header {
    padding: 0 30px 0 30px;
  }

  .history-item {
    height: fit-content;
  }

  /************************************ GASTRONOMY ************************************/

  .gastronomy {
    padding: 30px;
  }

  .gastronomy-dish {
    width: 400px;
  }

  .gastronomy-dish-photo {
    height: 300px;
  }

  .gastronomy-button {
    margin-bottom: 0;
  }

  /************************************ FAUNA ************************************/

  .fauna {
    padding: 30px;
  }

  .fauna-animal {
    width: 400px;
  }

  .fauna-animal-photo {
    height: 300px;
  }

  /************************************ HOW TO ************************************/

  .howto .content-section {
    padding: 0;
  }

  .howto-initial-paragraph {
    padding: 30px 30px 0 30px;
  }

  /************************************ GET TO ************************************/

  .getto {
    padding: 30px;
  }

  .getto .content-section {
    padding: 0;
  }

  .getto-options {
    justify-content: center;
  }

  .getto-option2,
  .getto-option3,
  .getto-option4,
  .getto-option5 {
    display: none;
  }

  .getto-options .active {
    background-color: var(--dark-blue-color);
  }

  .getto-info {
    padding: 30px;
  }

  .getto-photo-container {
    display: none;
  }

  /************************************ TICKETS ************************************/

  .tickets {
    padding: 0 30px 0 30px;
  }

  .tickets-item input {
    width: 90%;
  }

  /************************************ LODGING ************************************/

  .lodging {
    padding: 30px;
  }

  .lodging .content-section {
    padding: 0;
  }

  .lodging-option {
    width: 360px;

    flex-direction: column;
    align-items: center;
  }

  .lodging-info {
    margin: 0;

    text-align: center;
  }

  .lodging-icon {
    flex: none;

    margin: 0 0 30px 0;
  }

  .lodging-icon1 {
    width: 122.4px;
    height: 110px;
  }

  .lodging-icon2 {
    width: 74.8px;
    height: 130.34px;
  }

  .lodging-icon3 {
    width: 121.605px;
    height: 121.62px;
  }

  .lodging-icon4 {
    width: 110.125px;
    height: 110.125px;
  }

  /************************************ RESTAURANTS ************************************/

  .restaurants {
    padding: 30px;
  }

  .restaurants .section-header {
    padding: 0;
  }

  .restaurants .content-section {
    padding: 0;
  }

  .restaurants-interface {
    padding: 30px 0 30px 0;
  }

  .restaurants-interface .left-arrow-icon,
  .restaurants-interface .right-arrow-icon {
    display: none;
  }

  .restaurants-slider {
    padding: 0;
  }

  .restaurants-slider,
  .restaurant {
    width: 100%;
  }

  .restaurant-photo {
    width: 100%;
    height: 300px;
  }

  /************************************ ROUTES ************************************/

  .routes .content-section {
    padding: 0px 30px 0 30px;
  }

  .routes-initial-paragraph {
    padding: 30px 0 0 0;
  }

  .routes-initial-photo {
    height: 333px;

    margin: 30px 0 0 0;
  }

  .route {
    padding-top: 30px;
  }

  .route-header {
    margin-bottom: 30px;
  }

  .route-header h2 {
    font-size: 1.5em;
  }

  .route-header h1 {
    font-size: 2.3em;

    margin: 30px 0 30px 0;
    padding-bottom: 12px;
  }

  .route-header p {
    width: 100%;

    font-size: 1.2em;
  }

  .route-information {
    height: 100%;
  }

  .route-information ul {
    flex-direction: column;
    align-items: center;
  }

  .route-information ul li {
    padding: 15px 0 15px 0;
  }

  .route-photo {
    height: 450px;

    margin-bottom: 60px;
    padding: 30px;
  }

  .route-photo h2 {
    font-size: 1.4em;
  }

  .route-photo h1 {
    margin: 15px 0 15px 0;

    font-size: 1.7em;
  }

  .route-photo p {
    font-size: 1.2em;
    line-height: 20px;
  }

  /************************************ ACTIVITIES ************************************/

  .activities {
    padding: 30px;
  }

  .activities .content-section {
    padding: 0;
  }

  .activity-header {
    margin-bottom: 30px;
  }

  .activity-header h2 {
    font-size: 1.5em;

    margin-bottom: 30px;
  }

  .activity-header h1 {
    font-size: 1.8em;
  }

  .activity-photo {
    width: 100%;
    height: 250px;
  }

  .activity-button {
    margin-top: 30px;
  }

  /************************************ CONTACT ************************************/

  .contact .content-section {
    padding: 30px;
  }

  .contact-info h2 {
    text-align: center;
  }

  .contact-info-box {
    padding: 30px;
  }

  .facebook-icon {
    margin: 0 100px 0 100px;
  }

  .contact-methods p {
    font-size: 1.2em;
  }

  .contact-methods-icon {
    margin-right: 19px;
  }

  .contact-fields input {
    width: 94.5%;
  }

  .contact-fields textarea {
    width: 93%;
  }

  /************************************ OFFICES ************************************/

  .offices {
    padding: 30px;
  }

  .offices .section-header h1 {
    font-size: 2.5em;
  }

  .offices-interface {
    padding: 30px;
  }

  .offices-map {
    width: 450px;
    height: 410.97px;
  }

  .office-info {
    width: max-content;

    padding: 30px;
  }

  .office-icons {
    margin-right: 15px;
  }

  .office-info h2 {
    font-size: 1.4em;
  }

  .office-info p {
    font-size: 1em;
  }

  /************************************ PARTNERS ************************************/

  .partners {
    padding: 30px;
  }

  .partner {
    width: 50px;
    height: 47.5px;
  }

  /************************************ FOOTER ************************************/

  .footer-sections {
    flex-direction: column;
  }

  .footer-section1 {
    display: flex;
    justify-content: center;

    margin-bottom: 46px;
  }

  .footer-section4 button {
    width: 100%;
  }

  .footer-copy {
    padding: 30px;
  }

  .footer-copy p {
    font-size: 1em;
  }
}
